//extends ../layout/carousel
//
//block variables
//    - var carousel_header = 'carousel_header';
//    - var cluster_spot = 'cluster_spot';
//
//block content
//    h2(class=carousel_header, id=cluster_spot)
//        = #{properties.spot}
//    //<h2 class=carousel_header id=cluster_spot>{{ properties.spot }}</h2>
//    //<button class=carousel_address id=cluster_address type=button>{{ properties.address }}</button>
//    //<div class="carousel_footer" id="cluster_comment">{{ properties.comment }}</div>
//    //<div class="visually_hidden" id="cluster_name" type="button">{{ properties.name }}</div>
//    //<div class="visually_hidden" id="cluster_reviews" type="button">{{ properties.reviews }}</div>
//    //<div class="visually_hidden" id="cluster_address" type="button">{{ properties.address }}</div>
//    //<div class="visually_hidden" id="cluster_coords" type="button">{{ properties.coords }}</div>